*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* header section start  */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner.png);
    background-size: cover;
    background-position: center;
}

/* navbar section start  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
     width: 140px;
     cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.register-btn{
 background: #fff;
 color: #000;
 padding: 8px 20px;
 border-radius: 20px;
 text-decoration: none;
 font-size: 14px;
}
/* navbar section end  */

.container{
    padding: 0 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px; 
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 23px;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none ;
    background: transparent;
}
.search-bar form button{
    background:linear-gradient(rgb(3, 177, 221) , rgb(4, 42, 255));
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form  label{
    font-weight: 600;
}
/* header section end  */

/* exclusives section start  */
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.exclusives div img{
    width: 100%;
    border-radius: 10px;
}
.exclusives div{
    position: relative;
}
.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
/* exclusives section end  */

/* trending places section start  */

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.trending div img{
    width: 100%;
    border-radius: 10px;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
}
/* trending places section end  */

/* call to action section start */
.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, rgb(53, 39, 40), transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%; 
    color: #fff;
}
.cta h3 {
  font-size: 4vw;
  line-height: 5.3vW;
  font-weight: 500
}
.cta P{
    font-size: 18PX;
    margin: 10px 0;
}
.cta-btn{
    background:linear-gradient(rgb(3, 177, 221) , rgb(4, 42, 255));
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}
/* call to action section end */
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img {
    width: 100%;
    border-radius: 10px;
}

.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    background:linear-gradient(rgb(3, 177, 221) , rgb(4, 42, 255));
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}
 /* Travellers Stories section end */


 /* about-msg section start */
 
 .about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
 }
 .about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500
 }
 .about-msg p{
    text-align: justify;
 }
 /* about-msg section end */

 /* footer section  start  */
 .footer{
    margin: 80px 0 10pX;
    text-align: center;
 }
 .footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
 }
 .footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
 }
 .footer p{
    padding-bottom: 15px;
 }
 /* footer section  end */

 .active{
    position: relative;
 }

 .active::after{
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
 }

 nav .fa-bars{
    display: none;
 }


 /* for small screen devices start */

 @media only screen and (max-width: 700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
     }
     .active::after{
        left: -40px;
        transform: translateX(0,-50%);
        bottom: 50%;
     }
    .hidemenu{
        max-height: 300px;
    }
    .header h1 {
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding:20px 10px 30px ;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-msg{
        font-size: 15px;
    }


 }
 /* for small screen devices end */


 /* listing page start  */
 /* navbar section strat  */
.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.navbar-white .nav-links li a {
    color: #000;
}
.navbar-white .register-btn{
 background:linear-gradient(rgb(3, 177, 221) , rgb(4, 42, 255));
 color: #fff ;
}
nav.navbar-white .fa-bars{
    color: #000;
}

.navbar-white .active::after{
    background:linear-gradient(rgb(3, 177, 221) , rgb(4, 42, 255));
}
 /* navbar section end  */


 .list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .left-col{
    flex-basis: 70%;
 }
 .right-col{
    flex-basis: 25%;
 }
 .left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
 }

 .house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30PX 0;
    border-top: 1PX solid #CCC;
 }

 .house-img{
    flex-basis: 40%;
 }
 .house-info{
    flex-basis: 58%;
    color: #555 ;
 }
 .house-img img{
    width: 100%;
    border-radius: 12px;
 }

 .house-info h3{
    font-weight: 600;
    color: #333;
    margin: 4px 0;
 }
 .house-info i{
    color: #0355F4;
    font-size: 18px;
    margin: 10px 1px;
 }
 .house-price{
    text-align: right;
 }
 .house-price h4{
    font-size: 20PX;
 }
 .house-price h4 span{
    font-size: 16PX;
    font-weight: 500%;
 }

 .sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
 }
 .sidebar h2 {
    font-weight: 500;
 }
 .sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
 }
 .filter{
   display: flex;
   align-items:center;
   color: #555;
   margin-bottom: 10px;
 }
 .filter p{
    flex: 1;
 }
 .filter input{
    margin-right: 15px;
    cursor: pointer;
 }
 .sidebar-link{
    text-align: right;
    margin: 20px 0;
 }
 .sidebar-link a {
    text-decoration: none;
 }
 
 .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
 }
 .pagination img{
    width: 15px;
    margin: 10px 20px;
 }
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #fff;
}
 /* listing page end  */


/* small screen for listing page  start */

@media only screen and (max-width: 700px){
    .list-container{
        margin-top: 150px;
    }
    .left-col, .right-col, .house-img, .house-info{
        flex-basis: 100%;
    }
    .left-col h1 {
        font-size: 22px ;
    }
    .house-info h3 {
       font-size: 18px;
    }
    .house-info i {
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
/* small screen for listing page end  */



/* house-details page  */

.house-details{
    padding: 0 12%;
}
.house-title{
    margin-top: 50px;
}

.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.house-title span{
    margin: 0 20px;
}
.house-title i{
    color: #0355F4;
    font-size: 14px;
}
